# prefix used for both container names
export CONTAINER_NAME_PREFIX="pg15-repl"

# base directory for volume
export PGDATA_BASEDIR="/data"

# version to use
export PGVERSION="15.4"

# common settings
export POSTGRES_USER="demo"
export POSTGRES_PASSWORD="demo"
export POSTGRES_DB="demo"

# pgbench scale factor
export PGBENCH_SCALE=100
